<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicheng.modules.syslog.mapper.SysLogMapper">

    <insert id="insert" parameterType="com.yicheng.modules.syslog.entity.SysLog">
        insert into `sys_log`
        (id,content,user,ip,time,create_time)
        values
            (#{id},#{content},#{user},#{ip},#{time},#{createTime})
    </insert>
</mapper>